<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/banco?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="hibernate/Cuentas.hbm.xml"/>
    <mapping resource="hibernate/Tarjetas.hbm.xml"/>
    <mapping resource="hibernate/Usuarios.hbm.xml"/>
    <mapping resource="hibernate/Personal.hbm.xml"/>
    <mapping resource="hibernate/Clientes.hbm.xml"/>
    <mapping resource="hibernate/Movimientos.hbm.xml"/>
    <mapping resource="hibernate/Sucursales.hbm.xml"/>
    <mapping resource="hibernate/Domiciliaciones.hbm.xml"/>
    <mapping resource="hibernate/CuentasHasClientes.hbm.xml"/>
    <mapping resource="hibernate/Prestamos.hbm.xml"/>
    <mapping resource="hibernate/Seguros.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
